<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="ImplicitlyWait" value="30" />
    <add key="PageLoadTimeout" value="60" />
    <add key="ScriptTimeout" value="30" />
    <add key="DebuggerAddress" value="localhost:9090" />
    <add key="OpenFinLaunchExec" value="openfin-installer.exe" />
    <add key="OpenFinLaunchArgs" value="--config=http://localhost:8082/app2.json" />
    <!-- If testing with OpenFin Runtime 5.x.x.x, change value to chromedriverOF.exe -->
    <add key="ChromeDriverFileName" value="chromedriver.exe" />
    <!-- uncomment the following line to set log file for chromedriver -->
    <!-- add key="ChromeDriverLogFile" value="c:\chromedriver.log"/ -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>