<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="ImplicitlyWait" value="30" />
    <add key="PageLoadTimeout" value="60" />
    <add key="ScriptTimeout" value="30"/>
    <add key="DebuggerAddress" value="localhost:9090"/>
    <add key="OpenFinLaunchExec" value="openfin-installer.exe"/>
    <add key="OpenFinLaunchArgs" value="--config=https://demoappdirectory.openf.in/desktop/config/apps/OpenFin/HelloOpenFin/app.json"/>
  </appSettings>
</configuration>