<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net4" />
  <package id="FluentAssertions" version="4.13.0" targetFramework="net4" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net4" />
  <package id="NLog" version="4.3.7" targetFramework="net4" />
  <package id="NUnit" version="3.4.1" targetFramework="net4" />
  <package id="NUnit.ConsoleRunner" version="3.4.1" targetFramework="net4" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.4.1" targetFramework="net4" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.4.1" targetFramework="net4" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.4.1" targetFramework="net4" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.1" targetFramework="net4" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.4.1" targetFramework="net4" />
  <package id="NUnit.Runners" version="3.4.1" targetFramework="net4" />
  <package id="NUnit3TestAdapter" version="3.4.1" targetFramework="net4" />
  <package id="Selenium.Support" version="3.14.0" targetFramework="net40" />
  <package id="Selenium.WebDriver" version="3.14.0" targetFramework="net40" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.34.0" targetFramework="net40" />
</packages>